/* --------------------------------------------------------------------------------------------
 ------------------------------------------ Default --------------------------------------------
 ------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

#homeButton {
    position: fixed;
    color: white;
    background-color: hsl(0, 0%, 0%, 80%);
    border-radius: 20px;
    font-size: 18px;
    width: 8.3em;
    text-align: right;
    padding: 1rem;
    text-decoration: none;
    top: 1em;
    left: 1.45em;
    z-index: 6;
}

.homeIcon {
    position: absolute;
    background: url("/assets/Image/monkey.png");
    background-repeat: no-repeat;
    width: 520px;
    height: 520px;
    transform: scale(0.1);
    top: -380%;
    left: -150%;
}

.homeButton:hover {
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}

.ENbutton {
    position: fixed;
    color: white;
    top: 1.8em;
    right: 2em;
    text-decoration: none;
    cursor: pointer;
    z-index: 7;
}

.THbutton {
    position: fixed;
    color: white;
    top: 1.8em;
    right: 4em;
    text-decoration: none;
    cursor: pointer;
    z-index: 7;
}

/* --------------------------------------------------------------------------------------------
 ------------------------------------------ Star --------------------------------------------
 ------------------------------------------------------------------------------------------- */
.star {
    position: fixed;
    background-color: white;
    bottom: -200px;
    height: 3px;
    width: 3px;
    animation-name: float;
    animation-iteration-count: infinite;
}

.star:nth-child(16) {
    left: 10px;
    animation-duration: 11s;
    animation-delay: 1s;
}

.star:nth-child(17) {
    left: 40px;
    animation-duration: 15s;
    animation-delay: 12s;
}

.star:nth-child(18) {
    left: 80px;
    animation-duration: 13s;
    animation-delay: 3s;
}

.star:nth-child(19) {
    left: 120px;
    animation-duration: 10.5s;
    animation-delay: 6s;
}

.star:nth-child(20) {
    left: 160px;
    animation-duration: 10s;
    animation-delay: 1s;
}

.star:nth-child(21) {
    left: 200px;
    animation-duration: 14s;
    animation-delay: 5s;
}

.star:nth-child(22) {
    left: 240px;
    animation-duration: 16s;
    animation-delay: 3s;
}

.star:nth-child(23) {
    left: 280px;
    animation-duration: 12s;
    animation-delay: 8s;
}

.star:nth-child(24) {
    left: 320px;
    animation-duration: 18s;
    animation-delay: 7s;
}

.star:nth-child(25) {
    left: 360px;
    animation-duration: 14.5s;
    animation-delay: 2s;
}

.star:nth-child(26) {
    left: 400px;
    animation-duration: 16.5s;
    animation-delay: 3s;
}

.star:nth-child(27) {
    left: 440px;
    animation-duration: 12.3s;
    animation-delay: 2s;
}

.star:nth-child(28) {
    left: 480px;
    animation-duration: 18.4s;
    animation-delay: 10s;
}

.star:nth-child(29) {
    left: 520px;
    animation-duration: 13.7s;
    animation-delay: 3s;
}

.star:nth-child(30) {
    left: 560px;
    animation-duration: 10.5s;
    animation-delay: 3s;
}

.star:nth-child(31) {
    left: 600px;
    animation-duration: 10.1s;
    animation-delay: 1s;
}

.star:nth-child(32) {
    left: 640px;
    animation-duration: 14.8s;
    animation-delay: 2s;
}

.star:nth-child(33) {
    left: 680px;
    animation-duration: 16.7s;
    animation-delay: 1s;
}

.star:nth-child(34) {
    left: 720px;
    animation-duration: 11.3s;
    animation-delay: 9s;
}

.star:nth-child(35) {
    left: 760px;
    animation-duration: 15.5s;
    animation-delay: 2s;
}

.star:nth-child(36) {
    left: 800px;
    animation-duration: 10.9s;
    animation-delay: 1s;
}

.star:nth-child(37) {
    left: 840px;
    animation-duration: 10.6s;
    animation-delay: 9s;
}

.star:nth-child(38) {
    left: 880px;
    animation-duration: 15.2s;
    animation-delay: 6s;
}

.star:nth-child(39) {
    left: 920px;
    animation-duration: 12.7s;
    animation-delay: 1s;
}

.star:nth-child(40) {
    left: 960px;
    animation-duration: 19.1s;
    animation-delay: 3s;
}

.star:nth-child(41) {
    left: 1000px;
    animation-duration: 12.4s;
    animation-delay: 1s;
}

.star:nth-child(42) {
    left: 1040px;
    animation-duration: 18.6s;
    animation-delay: 2s;
}

.star:nth-child(43) {
    left: 1080px;
    animation-duration: 14.3s;
    animation-delay: 7s;
}

.star:nth-child(44) {
    left: 1120px;
    animation-duration: 18.9s;
    animation-delay: 2s;
}

.star:nth-child(45) {
    left: 1160px;
    animation-duration: 14.2s;
    animation-delay: 4s;
}

.star:nth-child(46) {
    left: 1200px;
    animation-duration: 10.1s;
    animation-delay: 1s;
}

.star:nth-child(47) {
    left: 1240px;
    animation-duration: 10.3s;
    animation-delay: 1s;
}

@keyframes float {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

/* --------------------------------------------------------------------------------------------
 ------------------------------------------ Footer --------------------------------------------
 ------------------------------------------------------------------------------------------- */
footer {
    position: relative;
    text-align: left;
    background-image: linear-gradient(to right, hsl(40, 100%, 70%), hsl(40, 100%, 60%));
    z-index: 20;
    margin: auto;
    padding: 33px;
    height: 220px;
    /* display: flex;
    justify-content: center; */
}

.footText {
    position: relative;
    top: 16%;
    left: 10%;
    font-size: 15px;
    color: black;
}

.footerName1 {
    position: absolute;
    /* top: 85px;
    left: 910px; */
    top: 40%;
    left: 64%;
}

.footerName2 {
    position: absolute;
    /* top: 85px;
    left: 1180px; */
    top: 40%;
    left: 84%;
}

.logo {
    position: absolute;
    background-color: transparent;
    height: 50px;
    width: 500px;
    left: 10%;
    top: 10%;
}

.itLogo {
    position: absolute;
    background-image: url("/assets/Image/logo-it.png");
    height: 520px;
    width: 550px;
    z-index: 21;
    top: 0;
    background-repeat: no-repeat;
    transform: scale(0.1);
    /* top: -210px;
    left: -120px; */
    top: -470%;
    left: -45%;
}

.spaceLogo {
    position: absolute;
    background-image: url("/assets/Image/logo-spaceth.png");
    filter: brightness(0%);
    height: 600px;
    width: 2000px;
    z-index: 21;
    top: 0;
    background-repeat: no-repeat;
    transform: scale(0.1);
    /* top: -255px;
    left: -710px; */
    top: -560%;
    left: -165%;
}

.footerLine {
    position: absolute;
    background-color: hsl(40, 100%, 20%);
    height: 130px;
    width: 3px;
    border-radius: 10px;
    top: 0%;
    left: 50%;
}

/* --------------------------------------------------------------------------------------------
 ------------------------------------------ Content --------------------------------------------
 ------------------------------------------------------------------------------------------- */
section {
    min-height: 100vh;
}

section:first-of-type h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

.img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    clip-path: circle(100px at center);
}

section:nth-child(6) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, black, transparent);
    padding: 5rem;
    margin-top: 50rem;
    position: relative;
    z-index: 3;
}

section:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, black, transparent), url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

section:nth-child(8) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

section:nth-child(9) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

section:nth-child(10) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

section:nth-child(11) {
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    position: relative;
    z-index: 3;
}

section:nth-child(12) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

section:nth-child(13) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

section:nth-child(14) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

section:nth-child(15) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png');
    padding: 5rem;
    position: relative;
    z-index: 3;
}

blockquote {
    border-left: 10px solid hsl(40, 100%, 60%);
    padding: 3em;
    border-radius: 4px;
}

.page {
    position: fixed;
    z-index: 5;
    display: block;
    width: 20px;
    height: 200px;
    bottom: 18em;
    right: 1em;
}

.page a {
    transition: fill 0.5s ease-out;
}

.page a:hover {
    fill: hsl(40, 100%, 60%);
    cursor: pointer;
}

.reveal {
    margin: 0 200px;
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.5s ease-out;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

#title {
    width: 80%;
    text-align: center;
    font-size: 58px;
}

#title2 {
    width: 80%;
    text-align: center;
    font-size: 52px;
}

.space {
    position: relative;
    background-color: transparent;
    width: 500px;
    height: 340px;
    z-index: 25;
    margin: 30px;
    text-align: center;
}

.space img {
    position: absolute;
    left:0px;
    width: 100%;
    height: auto;
    z-index: 26;
}

#sec3 blockquote {
    padding: 1em;
    padding-left: 3em;
}

#sec9 img {
    position: absolute;
    width: 80%;
    height: auto;
    z-index: 26;
    clip-path: none;
}

#subtitle {
    width: 80%;
    text-align: center;
    font-size: 28px;
}

/* --------------------------------------------------------------------------------------------
 ------------------------------------------ Map --------------------------------------------
 ------------------------------------------------------------------------------------------- */
.map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}

#earth {
    width: 960px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid wheat;
    box-shadow: 0 3px 4px 0 #d3dcfe;
}

.Alleht {
    position: absolute;
    display: inline-block;
}

/* ข้อมูลที่ปรากฏหลังเม้าส์ชี้ */
.Alleht .info {
    visibility: hidden;
    background-color: hsl(40, 100%, 60%);
    width: auto;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left: -3px;
    transform: translateY(-20px);
    z-index: 1;
}



.eht1 {
    position: absolute;
    left: -910px;
    top: 190px;
}

.eht1:hover #info1 {
    position: relative;
    visibility: visible;
    top: 15px;
}

.eht2 {
    position: absolute;
    left: -920px;
    top: 170px;
}

.eht2:hover #info2 {
    position: relative;
    visibility: visible;
    left: 1px;
    top: -50px;
}

.eht3 {
    position: absolute;
    left: -600px;
    top: 470px;
}

.eht3:hover #info3 {
    position: relative;
    visibility: visible;
    left: 1px;
    top: -50px;
}

.eht4 {
    position: absolute;
    left: -683px;
    top: 285px;
}

.eht4:hover #info4 {
    position: relative;
    visibility: visible;
    top: 15px;
}

.eht5 {
    position: absolute;
    left: -505px;
    top: 125px;
}

.eht5:hover #info5 {
    position: relative;
    visibility: visible;
    left: 1px;
    top: 15px;
}

.eht6 {
    position: absolute;
    left: -755px;
    top: 180px;
}

.eht6:hover #info6 {
    position: relative;
    visibility: visible;
    left: 0px;
    top: 15px;
}

.eht7 {
    position: absolute;
    left: -775px;
    top: 120px;
}

.eht7:hover #info7 {
    position: relative;
    visibility: visible;
    left: 0px;
    top: -50px;
}

.eht8 {
    position: absolute;
    left: -669px;
    top: 270px;
}

.eht8:hover #info8 {
    position: relative;
    visibility: visible;
    top: -50px;
}

.eht9 {
    position: absolute;
    left: -610px;
    top: 40px;
}

.eht9:hover #info9 {
    position: relative;
    visibility: visible;
    top: 15px;
}

.eht9 .info {
    left: -60px;
}

.eht10 {
    position: absolute;
    left: -790px;
    top: 140px;
}

.eht10:hover #info10 {
    position: relative;
    visibility: visible;
    top: 15px;
}

.eht11 {
    position: absolute;
    left: -490px;
    top: 105px;
}

.eht11:hover #info11 {
    position: relative;
    visibility: visible;
    left: -10px;
    top: -50px;
}