<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ETH | Monkey M87</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel=" preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mitr&family=Redressed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="layout.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body onload="trueAnswer()">
  <div class="container" style="visibility: hidden;">
    <div class="score">
      <div>
        <span><img class="scorePic" src="/assets/image/banana-q2.png"></span>
        <span class="scorePoint" id="banana"></span>
      </div>
      <div>
        <span><img class="scorePic" src="/assets/image/star-q2.png"></span>
        <span class="scorePoint" id="star"></span>
      </div>

      <button id="retreat" onclick="retreat()">ยอมเเพ้</button>
    </div>

    <div class="helper">
      <img id="hintPic" src="/assets/image/hint2.png">
      <img id="birdPic" src="/assets/image/n_normal.png" onclick="checkbanana()"
        onmouseover="this.src='/assets/image/n_use.png'" onmouseout="this.src='/assets/image/n_normal.png'">
      <img id="hintUse" src="/assets/image/banana-q2.png">
      <h1 id="hintUseText">x5</h1>
    </div>
    <div class="question"></div>
    <div class="hint"></div>

    <div class="choice">
      <div id="choice1">
        <img class="picchoice" id="pic1" src="">
        <button onclick="choiceA();" onmouseover="mouseOver()" class="btnchoice" id="btn1">กล้องโทรทรรศน์วิทยุ</button>
      </div>
      <div id="choice2">
        <img class="picchoice" id="pic2" src="">
        <button onclick="choiceB();" onmouseover="mouseOver()" class="btnchoice" id="btn2">กล้องโทรทรรศน์วิทยุ</button>
      </div>
    </div>
  </div>

  <div class="answer">
    <div class="boxAnswer">
      <div class="textAnswer"></div>
    </div>
    <div class="boxImg">
      <img id="imgAnswer" src="">
  </div>

  </div>

  <template id="retreats">
    <swal-html>
      <div style="margin-top: 50px;">
        <button id="again" onclick="playAgain()">เล่นใหม่</button>
        <button id="landing" onclick="home()">ไปหน้าเเรก</button>
        <button id="cancle" onclick="cancle()">ยกเลิก</button>
      </div>
    </swal-html>
  </template>
  <script src="layout.js"></script>
</body>

</html>