<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ETH | Monkey M87</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel=" preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mitr&family=Redressed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="layout.css">
</head>

<body onload="showQuestion()">
  <div class="container">
    <div class="score">
      <div>
        <span><img class="scorePic" src="/assets/image/banana-q2.png"></span>
        <span class="scorePoint" id="banana"></span>
      </div>
      <div>
        <span><img class="scorePic" src="/assets/image/star-q2.png"></span>
        <span class="scorePoint" id="star"></span>
      </div>
    </div>

    <div class="helper"></div>
    <div class="question"></div>
    <div class="hint"></div>
    <div class="choice">
      <div id="choice1">
        <img class="picchoice" id="pic1" src="/assets/image/choice1 1.jpg">
        <button onclick="adddispay1t();" onmouseover="mouseOver()" class="btnchoice" id="btn1">กล้องโทรทรรศน์วิทยุ</button>
      </div>
      <div id="choice2">
        <img class="picchoice" id="pic2" src="/assets/image/choice1 2.jpg">
        <button onclick="adddispay1t();" onmouseover="mouseOver()" class="btnchoice" id="btn2">กล้องโทรทรรศน์วิทยุ</button>
      </div>
    </div>
  </div>
  </div>


  <script src="layout.js"></script>
</body>

</html>