body {
  font-family: 'Mitr', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}

.container {
  width: 90vw;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 10px;
  grid-template-areas:
    'score score  question  question question helper  helper helper'
    'score score hint hint hint helper helper helper'
    'choice choice choice choice choice choice choice choice';
  grid-template-rows: 100px 100px auto;

}

.score {
  grid-area: score;

}

.scorePic {
  width: 4em;
  height: 4em;
  position: relative;
  top: 8px;
}

.scorePoint {
  color: white;
  font-size: 56px;
  position: relative;
  left: 20px;
}

.helper {
  grid-area: helper;
  border: 1px solid gray;
}

.question {
  height: 100px;
  grid-area: question;
  background-color: #feb041;
  border-radius: 8px;
  color: #333;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint {
  height: 100px;
  grid-area: hint;
  background-color: #fff;
  border-radius: 8px;
  color: #333;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  display: grid;
  grid-area: choice;
  grid-template-columns: auto auto;
  background-color: #ffcd5d;
  border-radius: 8px;
}

#choice1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#choice2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picchoice {
  width: 480px;
  height: 250px;
  border-radius: 8px;
}

.btnchoice {
  padding: 16px 32px;
  margin-top: 30px;
  width: 400px;
  height: 100px;
  font-size: 1.25em;
  font-family: 'Mitr', sans-serif;
  text-align: center;
  color: #36395A;
  background-color: #FCFCFD;
  border-width: 0;
  border-radius: 10px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  cursor: pointer;
}

.btnchoice:hover {
  transform: translateY(-2px);
}