body {
    max-height: 100vh;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

* {
    font-family: 'Mitr', sans-serif;
}

.bg {
    max-height: 100vh;
}

.bg1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -99;
}

.bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}

#monkey {
    width: 25%;
    height: 60%;
    left: -10px;
    bottom: -30px;
    position: absolute;
    opacity: 1;
}

#bird {
    width: 25%;
    height: 40%;
    right: 80px;
    bottom: -50px;
    position: absolute;
    opacity: 1;
}

#dialog0 {
    width: 800px;
    height: 150px;
    background-color: #233353;
    border: solid #FFC700;
    border-width: 10px;
    border-radius: 43px;
    position: absolute;
    bottom: -250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

p {
    font-size: 30px;
    color: white;
    text-align: center;
}

#dialog1 {
    width: 800px;
    height: 150px;
    background-color: #233353;
    border: solid #FFC700;
    border-width: 10px;
    border-radius: 43px;
    position: absolute;
    bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
}

.content {
    color: black;
    font-size: 20px;
}

button {
    margin: 8px;
    width: 200px;
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
}

#again {
    background-color: #FFC700;
}

#again:hover {
    background-color: #ffe070;
    border: none;
}

#landing {
    background-color: rgb(118, 219, 118);
}

#landing:hover {
    background-color: rgba(150, 227, 150, 0.742);
    border: none;
}

button:focus {
    outline: none;
}

#skipButton {
    position: absolute;
    padding: 12px 24px;
    top: 1.5em;
    right: 1.5em;

    font-size: 18px;
    color: black;
    background-color: hsl(40, 100%, 60%);
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}

#skipButton:hover {
    color: white;
}