body {
  font-family: 'Mitr', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
  overflow: hidden;

}

.container {
  width: 90vw;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 10px;
  grid-template-areas:
    'score  question  helper'
    'score hint  helper'
    'score choice  choice';
  grid-template-rows: 100px 100px auto;
  grid-template-columns: 160px 1fr 280px;
}

.score {
  grid-area: score;
}

.scorePic {
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 8px;
}

.scorePoint {
  color: white;
  font-size: 50px;
  position: relative;
  left: 20px;
}


#retreat {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 16px;
  width: 140px;

  color: white;
  font-size: 1.25em;
  text-align: center;
  text-decoration: none;
  border: 3px solid rgb(242, 97, 97);
  border-radius: 12px;
  background-color: #374658;
}

#retreat:hover {
  background-color: rgb(242, 97, 97);
  color: white;
  cursor: pointer;
  transform: translateY(-2px);
  transition: all 0.2s linear;
}


button {
  margin: 8px;
  width: 250px;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-family: 'Mitr', sans-serif;
  cursor: pointer;
}

#again {
  background-color: #ffc800;
}

#again:hover {
  background-color: #ffe070;
  border: none;
}

#landing {
  background-color: rgb(87, 217, 87);
}

#landing:hover {
  background-color: rgba(150, 227, 150, 0.742);
  border: none;
}

#cancle {
  border: 2px solid rgb(255, 108, 108);
  background-color: transparent;
  width: 94%;
}

#cancle:hover {
  background-color: rgb(255, 108, 108);
  border: 2px solid rgb(255, 108, 108);
  color: white;
}

.helper {
  grid-area: helper;
  display: flex;
  flex-direction: column;
  position: relative;
}

#hintPic {
  width: 180px;
  height: 60px;
  position: absolute;
  right: 20px;
  z-index: 1;
}

#birdPic {
  width: 220px;
  height: 180px;
  position: absolute;
  right: 0;
  bottom: -20px;
}

#hintUse {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 5px;
}

#hintUseText {
  color: white;
  position: absolute;
  left: 60px;
  bottom: -25px;
}

.question {
  height: 100px;
  grid-area: question;
  background-color: #feb041;
  border-radius: 8px;
  color: #333;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
}

.hint {
  height: 100px;
  grid-area: hint;
  background-color: #fff;
  border-radius: 8px;
  color: #333;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
}

.choice {
  display: grid;
  grid-area: choice;
  grid-template-columns: auto auto;
  background-color: #ffcd5d;
  border-radius: 8px;
}

#choice1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#choice2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picchoice {
  width: 80%;
  height: 35vh;
  border-radius: 8px;
}

.btnchoice {
  padding: 16px 32px;
  margin-top: 30px;
  width: 80%;
  height: 80px;
  font-size: 1.25em;
  font-family: 'Mitr', sans-serif;
  text-align: center;
  color: #36395A;
  background-color: #FCFCFD;
  border-width: 0;
  border-radius: 10px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  cursor: pointer;
}

.btnchoice:hover {
  transform: translateY(-2px);
}

/* ------------------------------------------------------------------------------------------------------------------- */
.boxAnswer {
  width: 1000px;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  background-color: #feb041;
  border-radius: 20px;
  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textAnswer {
  text-align: center;
  color: black;
  font-size: 26px;
}

.boxImg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 50px;
}

.next {
  position: absolute;
  right: 1em;
  bottom: 1em;
  padding: 8px 16px;
  background-color: #feb041;
  width: 8em;
}

.next:hover {
  color: white;
  background-color: #7474ff;
}