body{
  background-image: url("https://cdn.discordapp.com/attachments/934057101632897026/971669250840363018/unknown.png");
  background-size: cover;
  font-family: 'Mitr', sans-serif;
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 1080px;
  max-width: 1920px;
}

.topic{
  color: white;
  font-size: 35px;
  letter-spacing: 10px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.Alleht {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* ข้อมูลที่ปรากฏหลังเม้าส์ชี้ */
.Alleht .info {
  visibility: hidden;
  background-color: hsl(40, 100%, 60%);
  width: auto;
  color: black;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  left: -3px;
  transform: translateY(-20px);
  z-index: 1;
}

#earth{
  width: 700px;
  border: 5px solid white;
  box-shadow: 0px 3px 3px 0px #afbae0;
  border-radius: 10px;
}

.eht1{
  position: absolute;
  left: -680px;
  top: 120px;
}

.eht1:hover #info1 {
  position: relative;
  visibility: visible;
  top: 2px;
}

.eht2{
  position:absolute;
  left: -680px;
  top: 100px;
}

.eht2:hover #info2 {
  position: relative;
  visibility: visible;
  top: 2px;
}
/* เปลี่ยนตำแหน่งกล่องข้อความ */
.eht2 .info{
  left: 3px;
  transform: translateY(-90px);
}

.eht3{
  position:absolute;
  left: -450px;
  top: 330px;
}

.eht3:hover #info3 {
  position: relative;
  visibility: visible;
  top: 2px;
}
/* เปลี่ยนตำแหน่งกล่องข้อความ */
.eht3 .info{
  left: 0px;
  transform: translateY(-90px);
}

.eht4{
  position:absolute;
  left: -500px;
  top: 200px;
}

.eht4:hover #info4 {
  position: relative;
  visibility: visible;
  top: 2px;
}

.eht5{
  position:absolute;
  left: -370px;
  top: 85px;
}

.eht5:hover #info5 {
  position: relative;
  visibility: visible;
  top: 2px;
}
/* เปลี่ยนตำแหน่งกล่องข้อความ */
.eht5 .info{
  left: -1px;
}

.eht6{
  position:absolute;
  left: -560px;
  top: 120px;
}

.eht6:hover #info6 {
  position: relative;
  visibility: visible;
  top: 2px;
}
.eht6 .info{
  left: 1px;
}

.eht7{
  position:absolute;
  left: -570px;
  top: 80px;
}

.eht7:hover #info7 {
  position: relative;
  visibility: visible;
  top: 2px;
}
/* เปลี่ยนตำแหน่งกล่องข้อความ */
.eht7 .info{
  left: 1px;
  transform: translateY(-90px);
}

.eht8{
  position:absolute;
  left: -660px;
  top: 110px;
}

.eht8:hover #info8 {
  position: relative;
  visibility: visible;
  top: 2px;
}
/* เปลี่ยนตำแหน่งกล่องข้อความ */
.eht8 .info{
  left: 10px;
  transform: translateY(-90px);
}

.eht9{
  position:absolute;
  left: -450px;
  top: 10px;
}

.eht9:hover #info9 {
  position: relative;
  visibility: visible;
  top: 2px;
}
/* เปลี่ยนตำแหน่งกล่องข้อความ */
.eht9 .info{
  left: -60px;
  transform: translateY(-20px);
}

.eht10{
  position:absolute;
  left: -585px;
  top: 95px;
}

.eht10:hover #info10 {
  position: relative;
  visibility: visible;
  top: 2px;
}

.eht11{
  position:absolute;
  left: -350px;
  top: 75px;
}

.eht11:hover #info11 {
  position: relative;
  visibility: visible;
  top: 2px;
}
/* เปลี่ยนตำแหน่งกล่องข้อความ */
.eht11 .info{
  left: -9px;
  transform: translateY(-90px);
}






