* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/Image/realback.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Mitr', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  letter-spacing: 5px;
  color: #fff;
}

section:nth-child(2) {
  color: #010333;
}

section:nth-child(3) {
  color: #010333;
}

section:nth-child(4) {
  color: #010333;
}

section:nth-child(5) {
  color: #010333;
}

section:nth-child(6) {
  letter-spacing: 5px;
  color: #fff;
}

section:nth-child(7) {
  color: #010333;
}

section:nth-child(8) {
  color: #010333;
}

section .container {
  margin: 150px;
}

section h1 {
  font-size: 70px;
  text-shadow: 0 0 10px #9ad9ff;
}

section .card {
  border: 0 0 2px #ffcd5d;
  display: flex;
}

section .card .text {
  border-radius: 7px;
  background: #ffcd5d;
  font-size: 22px;
  margin: 80px;
  padding: 10px;
  text-align: center;
}

section .card .text h6 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}


@media (max-width: 900px) {
  section h1 {
    font-size: 40px;
  }

  section .card {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(180px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.img1 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.homeButton {
  position: fixed;
  color: white;
  background-color: hsl(0, 0%, 0%, 80%);
  border-radius: 20px;
  font-size: 18px;
  width: 8em;
  text-align: right;
  padding: 1rem;
  text-decoration: none;
  top: 1em;
  left: 1em;
  z-index: 6;
}

.homeIcon {
  position: absolute;
  background: url("/assets/Image/monkey.png");
  background-repeat: no-repeat;
  width: 520px;
  height: 520px;
  transform: scale(0.1);
  top: -380%;
  left: -150%;
}

.homeButton:hover {
  background-color: hsl(0, 0%, 30%);
  cursor: pointer;
}

.nextButton {
  color: black;
  font-size: 18px;
  background-color: hsl(40, 100%, 60%);
  border-radius: 20px;
  padding: 8px 8px;

  width: 100px;
  bottom: 3em;

  position: absolute;
  left: 50%;
  transform: translate(-50px, 80px);
  text-align: center;
  text-decoration: none;
  transition: color 0.5s ease-out, transform 0.5s ease-out, ;
}

.nextButton:hover {
  background-color: hsl(40, 100%, 80%);
  cursor: pointer;
}

footer {
  position: relative;
  text-align: left;
  background-color: hsl(40, 100%, 60%);
  z-index: 20;
  margin:auto;
  padding:33px;
}

footer a {
  position: relative;
  left: 5%;
  font-size: 15px;
  color: black;
}

.footerName1 {
  position: absolute;
  top: 40%;
  left: 64%;
}

.footerName2 {
  position: absolute;
  top: 40%;
  left: 84%;
}

.itLogo {
  position: absolute;
  background-image: url("/assets/Image/logo-it.png");
  height: 520px;
  width: 550px;
  z-index: 21;
  top: 0;
  background-repeat: no-repeat;
  transform: scale(0.1);
  top: -210px;
  left: -140px;
  /* top: -98%;
  left: -11%; */
}

.spaceLogo {
  position: absolute;
  background-image: url("/assets/Image/logo-spaceth.png");
  filter: brightness(0%);
  height: 600px;
  width: 2000px;
  z-index: 21;
  top: 0;
  background-repeat: no-repeat;
  transform: scale(0.1);
  top: -255px;
  left: -740px;
  /* top: -119%;
  left: -58%; */
}

.footerLine {
  position: absolute;
  background-color: hsl(40, 100%, 20%);
  height: 130px;
  width: 3px;
  border-radius: 10px;
  top: 45px;
  left: 730px;
  /* top: 20%;
  left: 57%; */
}
