@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Josefin+Sans:wght@300&family=Jost:wght@300;500&family=Kanit:wght@300;400;700&family=Lato:wght@300&family=Luxurious+Roman&family=Mitr:wght@500&family=Mochiy+Pop+P+One&family=Moon+Dance&family=Noto+Sans+Thai:wght@300;400&family=Oswald&family=Poppins:wght@300;400&family=Quintessential&display=swap');

html,
body {
  font-family: 'Mitr', sans-serif;
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1023px 336px #fff, 773px 465px #fff, 1028px 609px #fff, 1089px 464px #fff, 518px 100px #fff, 1087px 936px #fff, 1177px 497px #fff, 1276px 68px #fff, 1422px 9px #fff, 1686px 63px #fff, 234px 662px #fff, 641px 550px #fff, 91px 364px #fff, 1270px 106px #fff, 1615px 628px #fff, 797px 270px #fff, 761px 619px #fff, 143px 299px #fff, 205px 502px #fff, 572px 330px #fff, 1847px 669px #fff, 1693px 873px #fff, 841px 827px #fff, 1085px 664px #fff, 312px 264px #fff, 1548px 942px #fff, 95px 466px #fff, 634px 559px #fff, 1489px 340px #fff, 331px 529px #fff, 1485px 342px #fff, 891px 740px #fff, 1821px 213px #fff, 1017px 729px #fff, 906px 708px #fff, 516px 247px #fff, 510px 600px #fff, 1767px 191px #fff, 1707px 965px #fff, 1063px 905px #fff, 1892px 725px #fff, 1251px 141px #fff, 1907px 389px #fff, 1051px 160px #fff, 1270px 5px #fff, 1506px 822px #fff, 1740px 626px #fff, 81px 346px #fff, 55px 315px #fff, 157px 747px #fff, 391px 847px #fff, 1916px 134px #fff, 828px 871px #fff, 916px 359px #fff, 1723px 711px #fff, 20px 498px #fff, 776px 847px #fff, 1811px 676px #fff, 1422px 84px #fff, 362px 509px #fff, 152px 797px #fff, 184px 833px #fff, 748px 242px #fff, 404px 713px #fff, 1215px 474px #fff, 1118px 733px #fff, 988px 644px #fff, 1564px 909px #fff, 1126px 24px #fff, 1461px 637px #fff, 1442px 796px #fff, 267px 904px #fff, 391px 259px #fff, 1002px 756px #fff, 955px 623px #fff, 1240px 424px #fff, 458px 89px #fff, 243px 953px #fff, 1679px 436px #fff, 529px 164px #fff, 179px 269px #fff, 1231px 426px #fff, 30px 492px #fff, 987px 546px #fff, 1719px 462px #fff, 491px 751px #fff, 587px 750px #fff, 1413px 500px #fff, 1579px 719px #fff, 146px 990px #fff, 819px 781px #fff, 1595px 35px #fff, 761px 361px #fff, 585px 254px #fff, 501px 171px #fff, 454px 253px #fff, 709px 442px #fff, 670px 754px #fff, 1663px 284px #fff, 236px 711px #fff, 555px 303px #fff, 95px 19px #fff, 285px 529px #fff, 1513px 338px #fff, 1183px 667px #fff, 839px 230px #fff, 1045px 553px #fff, 889px 873px #fff, 349px 166px #fff, 869px 820px #fff, 1014px 374px #fff, 667px 1px #fff, 841px 797px #fff, 1394px 676px #fff, 601px 582px #fff, 151px 603px #fff, 459px 465px #fff, 320px 334px #fff, 1500px 703px #fff, 1870px 773px #fff, 803px 324px #fff, 901px 303px #fff, 1213px 45px #fff, 1741px 338px #fff, 1258px 21px #fff, 982px 624px #fff, 1138px 216px #fff, 443px 147px #fff, 1165px 454px #fff, 388px 476px #fff, 57px 232px #fff, 915px 615px #fff, 1211px 453px #fff, 1266px 440px #fff, 1597px 994px #fff, 421px 7px #fff, 1188px 426px #fff, 1637px 349px #fff, 214px 302px #fff, 1161px 346px #fff, 1705px 792px #fff, 894px 931px #fff, 447px 608px #fff, 249px 178px #fff, 931px 932px #fff, 700px 750px #fff, 601px 572px #fff, 160px 886px #fff, 1253px 824px #fff, 1893px 860px #fff, 1830px 556px #fff, 1857px 654px #fff, 284px 160px #fff, 1134px 995px #fff, 690px 421px #fff, 1464px 139px #fff, 59px 828px #fff, 724px 948px #fff, 1618px 766px #fff, 468px 748px #fff, 1337px 987px #fff, 30px 923px #fff, 449px 930px #fff, 905px 18px #fff, 1220px 61px #fff, 423px 437px #fff, 1761px 86px #fff, 1225px 597px #fff, 1457px 171px #fff, 1218px 272px #fff, 1855px 487px #fff, 1049px 548px #fff, 72px 152px #fff, 1206px 71px #fff, 39px 804px #fff, 1466px 923px #fff, 607px 439px #fff, 1395px 640px #fff, 1630px 187px #fff, 1271px 525px #fff, 1735px 986px #fff, 1825px 621px #fff, 491px 531px #fff, 10px 341px #fff, 1156px 997px #fff, 1391px 415px #fff, 27px 983px #fff, 1378px 300px #fff, 1536px 183px #fff, 450px 762px #fff, 1261px 542px #fff, 438px 142px #fff, 1171px 794px #fff, 900px 163px #fff, 1502px 696px #fff, 1844px 892px #fff, 1267px 449px #fff, 418px 764px #fff, 1075px 968px #fff, 750px 495px #fff, 940px 686px #fff, 965px 715px #fff, 1522px 752px #fff, 756px 671px #fff, 603px 948px #fff, 1195px 648px #fff, 580px 743px #fff, 422px 890px #fff, 1146px 983px #fff, 294px 181px #fff, 76px 714px #fff, 1918px 846px #fff, 1538px 374px #fff, 1473px 536px #fff, 513px 325px #fff, 649px 606px #fff, 74px 980px #fff, 779px 313px #fff, 430px 570px #fff, 1840px 554px #fff, 623px 255px #fff, 1617px 207px #fff, 11px 919px #fff, 548px 464px #fff, 81px 298px #fff, 815px 676px #fff, 11px 508px #fff, 255px 62px #fff, 262px 784px #fff, 771px 503px #fff, 595px 824px #fff, 1504px 546px #fff, 1405px 959px #fff, 263px 841px #fff, 1321px 645px #fff, 954px 274px #fff, 1071px 557px #fff, 1605px 225px #fff, 13px 870px #fff, 1667px 626px #fff, 72px 537px #fff, 50px 950px #fff, 547px 510px #fff, 1398px 716px #fff, 1505px 975px #fff, 1759px 44px #fff, 1655px 961px #fff, 534px 205px #fff, 837px 207px #fff, 1419px 390px #fff, 1014px 522px #fff, 874px 938px #fff, 795px 368px #fff, 1537px 634px #fff, 468px 247px #fff, 1719px 132px #fff, 344px 824px #fff, 1394px 987px #fff, 1791px 195px #fff, 1390px 144px #fff, 1386px 563px #fff, 180px 226px #fff, 770px 443px #fff, 551px 646px #fff, 532px 478px #fff, 1520px 599px #fff, 8px 77px #fff, 936px 395px #fff, 629px 951px #fff, 506px 743px #fff, 1269px 760px #fff, 1114px 845px #fff, 1191px 387px #fff, 442px 800px #fff, 1109px 613px #fff, 644px 456px #fff, 1360px 84px #fff, 502px 687px #fff, 645px 99px #fff, 1604px 961px #fff, 136px 709px #fff, 1634px 585px #fff, 574px 692px #fff, 1858px 378px #fff, 1163px 114px #fff, 1664px 630px #fff, 457px 88px #fff, 535px 599px #fff, 344px 969px #fff, 634px 20px #fff, 1085px 775px #fff, 1054px 940px #fff, 892px 88px #fff, 16px 993px #fff, 1472px 204px #fff, 357px 682px #fff, 1276px 663px #fff, 572px 854px #fff, 1282px 871px #fff, 844px 814px #fff;
}

.meteor-1 {
  position: absolute;
  top: 135px;
  left: 21%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.3s linear infinite;
}

.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 119px;
  left: 53%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.7s linear infinite;
}

.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 101px;
  left: 46%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.1s linear infinite;
}

.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 232px;
  left: 75%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.9s linear infinite;
}

.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 230px;
  left: 27%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.6s linear infinite;
}

.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 154px;
  left: 84%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.1s linear infinite;
}

.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 213px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.9s linear infinite;
}

.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 113px;
  left: 71%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7s linear infinite;
}

.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 240px;
  left: 71%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.3s linear infinite;
}

.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 276px;
  left: 32%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.3s linear infinite;
}

.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 70px;
  left: 87%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.8s linear infinite;
}

.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 137px;
  left: 34%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.9s linear infinite;
}

.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 261px;
  left: 86%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9s linear infinite;
}

.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 52px;
  left: 18%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.7s linear infinite;
}

.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 63px;
  left: 16%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.7s linear infinite;
}

.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }

  12% {
    opacity: 0;
  }

  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.logo .back1 {
  /* background-color: brown; */
  width: 610px;
  padding-top: 80px;

}

.logo .back2 {
  position: absolute;
  width: 620px;
  padding-top: 40px;
  padding-left: 140px;
}

.logo .back3 {
  position: absolute;
  width: 600px;
  padding-top: 100px;
}

.bt {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: #F9CC5D;
  border: none;
  color: white;
  padding: 14px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 900;
  margin: 12px;
  width: 300px;
}

.button:hover {
  transform: scale(1.035);
}