body{
    max-height: 100vh;
    background: url(../assets/Image/background-lab.png), url(../assets/Image/space-background-lab.png);
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: 'Mitr', sans-serif;
}
#monkey{
    background: url(../assets/Image/monkey-normal-face.png);
    width: 25%;
    height: 60%;
    left: 0;
    bottom: 0;
    position: absolute;
}
