body{
    height: 100%;
    background-image: url(../assets/image/background.png);
    overflow: hidden;
}
.box-asnwer{
    width: 800px;
    height: 150px;
    background-color: #feb041;
    border-radius: 20px;
    margin:auto;
    margin-top: 50px;
}
p{
    font-family: 'Mitr', sans-serif;
    font-size: 25px;
    padding: 40px;

}
.img-q2 img{
    width: 1280px;
    height: 800px;
    position: relative;
    left: 145px;
    bottom: 220px;
}
