body{
    max-height: 100vh;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: 'Mitr', sans-serif;
}
#monkey{
    background: url(../assets/Image/monkey-normal-face.png);
    width: 25%;
    height: 60%;
    left: 0;
    bottom: 0;
    position: absolute;
}
.bg1{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -99;
}
.bg2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}