body{
    height: 100%;
    background-image: url(../assets/image/background.png);
    overflow: hidden;
}
.box-asnwer{
    width: 800px;
    height: 140px;
    background-color: #feb041;
    border-radius: 20px;
    margin:auto;
    margin-top: 50px;
}
p{
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    padding: 20px;
}
.img-q2 img{
    width: 1500px;
    height: 864px;
    position: relative;
    left: 40px;
    bottom: 240px;
}