body{
    max-height: 100vh;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

*{
    font-family: 'Mitr', sans-serif;
}
.bg{
    max-height: 100vh;
}
.bg1{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -99;
}
.bg2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}
#monkey{
    width: 25%;
    height: 60%;
    left: -10px;
    bottom: -30px;
    position: absolute;
    animation: monking 2s;
    opacity: 1;
}
#doctor{
    width: 25%;
    height: 62.5%;
    right: 70px;
    bottom: -40px;
    position: absolute;
    animation: docing 2s;
    opacity: 1;
}
#bird{
    width: 25%;
    height: 40%;
    right: -470px;
    bottom: 500px;
    position: absolute;
    opacity: 1;
}
@keyframes monking{
    from{
        left: -510px;
    }
    to{
        left: -10px;
    }
}
@keyframes docing{
    from{
        right: -430px;
    }
    to{
        right: 70px;
    }
}
#dialog0{
    width: 800px;
    height: 150px;
    background-color: #233353;
    border: solid #FFC700;
    border-width: 10px;
    border-radius: 43px;
    position: absolute;
    bottom: -250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
p{
    font-size: 30px;
    color: white;
    text-align: center;
}
#dialog1, #dialog2, #dialog3, #dialog4, #dialog5, #dialog6, #dialog7{
    width: 800px;
    height: 150px;
    background-color: #233353;
    border: solid #FFC700;
    border-width: 10px;
    border-radius: 43px;
    position: absolute;
    bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
}