* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}
body{
    max-height: 100vh;
    background-image: url("../assets/image/backgroud-q.png");
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    color: #fff;
}
.top{
    height: 30vh;
    display: flex;
    margin-top: 20px;
}
.point{
    width: 25vw;
    height: 30vh; 
}
.banana{
    width:  100px;
    height: 100px;
}
.banana img{
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    top: -50px;
    right: 45px;
    vertical-align: middle;
}
.banana p{
    position: absolute;
    top: 20px;
    left:120px;
    font-size: 50px;
}
.star{
    width:  100px;
    height: 100px
}
.star img{
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    top: -60px;
    right: 45px;
}
.star p{
    position: absolute;
    top: 120px;
    left:120px;
    font-size: 50px;
}
.banana-h{
    width:  100px;
    height: 100px;
    display:inline-block;
    vertical-align:top;
    
}
.banana-h img{
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
    top: -140px;
    right: 25px;
    vertical-align: middle;
}
.banana-h p{
    position: absolute;
    top: 130px;
    right:180px;
    font-size: 25px;
}
.bird{
    width:  100px;
    height: 100px;
}
.bird img{
    width: 160px;
    height: 140px;
    top: -60px;
    left: 120px;
    vertical-align: middle;
    position: relative;
}
.bird button{
    width:0;
    height:0;
    border:0;
}
.messagebox{
    width:  100px;
    height: 100px;
}
.messagebox img{
    width: 200px;
    height: 200px;
    top: -70px;
    left: 90px;
    vertical-align: middle;
    position: relative;

}
.textbox{
    width:50vw;
    height: 30vh;
}
.question-box{
    height: 15vh;
    background-color: #feb040;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    vertical-align: baseline;
}
.question-box p, .hint-box p{
   color: black;
   margin: auto;
   font-size: 25px;
   vertical-align: baseline;
   padding: 10px;
}
.hint-box{
    height: 10vh;
    background-color: #fff;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    color: black;
    text-align: center;
}
.hint{
    width:25vw;
    height: 30vh;
}
.box{
    background: #ffcd5d;
    border: 5px solid rgb(36, 20, 129); 
    width: 90vw;
    height: 60vh;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
}
.left{
    width: 32vw;
    height: 59vh;
}

.rule{
    width: 32vw;
    height: 29vh;
    padding-top: 10px;
}
.rule p{
    margin: 20px;
}
.dbutton{
    text-align: right;
    position: relative;
    top: -50px;
    left: -30px;
}
.button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  width: auto;
  z-index: 0;
}

.button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.monkeyimg{
    width: 100px;
    height: 100px;
    position: relative;
    top:-90px;
    left:  30px;
}
.monkeyimg img{
    width: 200px;
    height: 200px;
}
.right{
    width: 57vw;
    height: 59vh;
    display: flex;
}
.choice1{
    width: 33vw;
    height: 59vh;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
}
.picchoice{
    height:39vh;
    width: 27vw;
    display: block;
}
.picchoice img{
    width:  300px;
    height:  250px;
    margin: 5px;
    box-shadow: 7px 10px 5px 3px rgba(0,0,0,0.64);
}
.textchoice {
    height:19vh;
    width: 27vw;
    margin: auto;
}
.choicetextbox{
    background-color: #fff;
    height: 6vh;
    width: 15vw;
    margin: auto;
    text-align: center;
    vertical-align: baseline;
    border-radius: 20px;

}
.textchoice p{
    margin:auto;
    color: black;
    text-align: center;
    padding: 4px;
}

.choice2{
    width: 33vw;
    height: 59vh;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
}