@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: white;
  font-family: 'Itim', cursive;
}

#line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  background-color: white;
}